<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="training.javaweb.exam.mapper.PetMapper">
    <!-- Result Map -->
    <resultMap id="PetDTOMap"
               type="training.javaweb.exam.dto.PetDTO">
        <id property="id"
            column="id"/>
        <result property="ownerId"
                column="owner_id"/>
        <result property="ownerName"
                column="owner_name"/>
        <result property="name"
                column="name"/>
        <result property="type"
                column="type"/>
        <result property="breed"
                column="breed"/>
        <result property="gender"
                column="gender"/>
        <result property="birthDate"
                column="birth_date"/>
        <result property="weight"
                column="weight"/>
        <result property="color"
                column="color"/>
        <result property="vaccinated"
                column="vaccinated"/>
        <result property="image"
                column="image"/>
        <result property="note"
                column="note"/>
        <result property="status"
                column="status"/>
    </resultMap>
    <!-- B1 Create Pet -->
    <insert id="insert"
            parameterType="training.javaweb.exam.entity.Pet"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO pets
        (
            owner_id,
            name,
            type,
            breed,
            gender,
            birth_date,
            weight,
            color,
            vaccinated,
            image,
            note,
            status,
            deleted,
            created_at,
            updated_at

        )
        VALUES
        (
            #{ownerId},
            #{name},
            #{type},
            #{breed},
            #{gender},
            #{birthDate},
            #{weight},
            #{color},
            #{vaccinated},
            #{image},
            #{note},
            'AT_HOME',
            false,
            NOW(),
            NOW()
        )

    </insert>

    <!-- B2 List Pet -->
    <select id="findAll"
            resultMap="PetDTOMap">
        SELECT
        p.*,
        o.full_name AS owner_name
        FROM pets p
        JOIN owners o
        ON p.owner_id=o.id
        WHERE
        p.deleted=false
        AND
        o.deleted=false
        ORDER BY p.id DESC
    </select>
    <!-- B3 Detail -->
    <select id="findDetail"
            resultMap="PetDTOMap">
        SELECT
        p.*,
        o.full_name AS owner_name
        FROM pets p
        JOIN owners o
        ON p.owner_id=o.id
        WHERE
        p.id=#{id}
        AND p.deleted=false
    </select>
    <!-- B4 Update -->
    <update id="update">
        UPDATE pets
        SET
        owner_id=#{ownerId},
        name=#{name},
        type=#{type},
        breed=#{breed},
        gender=#{gender},
        birth_date=#{birthDate},
        weight=#{weight},
        color=#{color},
        vaccinated=#{vaccinated},
        image=#{image},
        note=#{note},
        updated_at=NOW()
        WHERE id=#{id}
    </update>
    <!-- B5 Soft Delete -->
    <update id="softDelete">
        UPDATE pets
        SET
        deleted=true,
        updated_at=NOW()
        WHERE id=#{id}
    </update>
    <!-- B6 Filter Type -->
    <select id="findByType"
            resultMap="PetDTOMap">
        SELECT
        p.*,
        o.full_name AS owner_name
        FROM pets p
        JOIN owners o
        ON p.owner_id=o.id
        WHERE
        p.type=#{type}
        AND p.deleted=false
    </select>
    <!-- B7 Pet theo Owner -->
    <select id="findByOwnerId"
            resultMap="PetDTOMap">
        SELECT
        p.*,
        o.full_name AS owner_name
        FROM pets p
        JOIN owners o
        ON p.owner_id=o.id
        WHERE
        p.owner_id=#{ownerId}
        AND p.deleted=false
    </select>
    <!-- B8 Customer xem pet của mình -->
    <select id="findMyPets"
            resultMap="PetDTOMap">
        SELECT
        p.*,
        o.full_name AS owner_name
        FROM pets p
        JOIN owners o
        ON p.owner_id=o.id
        JOIN users u
        ON o.id=u.owner_id
        WHERE
        u.id=#{userId}
        AND p.deleted=false
    </select>
    <!-- update trạng thái Pet -->
    <update id="updateStatus">
        UPDATE pets
        SET
        status=#{status},
        updated_at=NOW()
        WHERE id=#{id}
    </update>
</mapper>