<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="training.javaweb.exam.mapper.UserMapper">
    <resultMap id="UserMap"
               type="training.javaweb.exam.entity.User">
        <id property="id"
            column="id"/>
        <result property="username"
                column="username"/>
        <result property="password"
                column="password"/>
        <result property="role"
                column="role"/>
        <result property="ownerId"
                column="owner_id"/>
        <result property="enabled"
                column="enabled"/>
        <result property="createdAt"
                column="created_at"/>
        <result property="updatedAt"
                column="updated_at"/>
    </resultMap>

    <!-- LOGIN -->
    <select id="findByUsername"
            resultMap="UserMap">
        SELECT *
        FROM users
        WHERE username=#{username}
        AND enabled=true
    </select>
    
    <!-- CREATE ACCOUNT -->
    <insert id="insert"
            parameterType="training.javaweb.exam.entity.User"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO users
        (
            username,
            password,
            role,
            owner_id,
            enabled,
            created_at,
            updated_at
        )
        VALUES
        (
            #{username},
            #{password},
            #{role},
            #{ownerId},
            true,
            NOW(),
            NOW()
        )
    </insert>
    <!-- CHECK ACCOUNT -->
    <select id="countByOwnerId"
            resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE owner_id=#{ownerId}
    </select>
    <!-- UPDATE PASSWORD -->
    <update id="updatePassword">
        UPDATE users
        SET
        password=#{password},
        updated_at=NOW()
        WHERE id=#{id}
    </update>
    <!-- DISABLE ACCOUNT -->
    <update id="disable">
        UPDATE users
        SET
        enabled=false,
        updated_at=NOW()
        WHERE id=#{id}
    </update>
    <select id="findById"
            resultMap="UserMap">
        SELECT *
        FROM users
        WHERE id=#{id}
    </select>
</mapper>